

/* 

  Synth cover colors 

*/

$synthBlack: #2E2F33;
$synthDarkGray: #3C3E42;
$synthMedGray: #757982;
$synthLightGray: #AEB4C2;

$grayGBDark: #2b2b26;
$grayGBDarkLight: #706b66;
$grayGBLight: #e0dbcd;
$grayGBLightDark: #a89f94;

$greenGBDark: #202020;
$greenGBDarkLight: #5e6745;
$greenGBLight: #e3eec0;
$greenGBLightDark: #aeba89;


