@import '../settings.scss';

.pianoKeys {
  border: 1px solid black;
  width: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;

-webkit-box-shadow: 0px 27px 24px 5px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 27px 24px 5px rgba(0,0,0,0.27);
box-shadow: 0px 27px 24px 5px rgba(0,0,0,0.27);
  &.whiteKeys {
    background: $synthLightGray;
    height: 100%;
      

      /* 
            Future plans-------
              --- Create the activeKey hover into an mixin for easier mobility
          
       */

    &.activeKey {
      color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed5c5e+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(top, rgba(237,92,94,0.65) 0%, rgba(0,0,0,0) 100%), $synthLightGray; /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(237,92,94,0.65) 0%,rgba(0,0,0,0) 100%), $synthLightGray; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(237,92,94,0.65) 0%,rgba(0,0,0,0) 100%), $synthLightGray; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ed5c5e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      
    }
  }
  &.blackKeys {
    background: $synthDarkGray;
    color: white;
    height: 60%;
    width:2.99%;
    position: relative;
    border: 1px none;
    -webkit-border-bottom-right-radius: 33px;
    -webkit-border-bottom-left-radius: 33px;
    -moz-border-radius-bottomright: 33px;
    -moz-border-radius-bottomleft: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;




    webkit-box-shadow: 2px 23px 58px -10px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 23px 58px -10px rgba(0,0,0,0.27);
    box-shadow: 2px 23px 58px -10px rgba(0,0,0,0.27);


      &.key_1 {
        left: 2%;
      }
      &.key_3 {
        left: 2.5%;
      }
      &.key_6 {
        left: 6.5%;
      }
      &.key_8 {
        left: 7%;
      }
      &.key_10 {
        left: 8%;
      }
      &.key_13 {
        left: 12%;
      }
      &.key_15 {
        left: 12.5%;
      }
      &.key_18 {
        left: 16.8%;
      }
      &.key_20 {
        left: 17.5%;
      }
      &.key_22 {
        left: 18%;
      }
      &.key_25 {
        left: 22%;
      }
      &.key_27 {
        left: 22.5%;
      }
      &.key_30 {
        left: 27%;
      }
      &.key_32 {
        left: 27.5%;
      }
      &.key_34 {
        left: 28%;
      }
      &.key_37 {
        left: 32%;
      }
      &.key_39 {
        left: 32.5%;
      }
      &.key_42 {
        left: 37%;
      }
      &.key_44 {
        left: 37.5%;
      }
      &.key_46 {
        left: 38%;
      } 
      &.activeKey {


      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398235+0,8ab66b+56,c9de96+100&1+0,0+100 */
      background: -moz-linear-gradient(top, rgba(57,130,53,1) 0%, rgba(138,182,107,0.44) 56%, rgba(201,222,150,0) 100%),$synthDarkGray; /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%),$synthDarkGray; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(57,130,53,1) 0%,rgba(138,182,107,0.44) 56%,rgba(201,222,150,0) 100%),$synthDarkGray; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#00c9de96',GradientType=0 ); /* IE6-9 */


        }       
      }

}