@import '../settings.scss';

.synthView {
  border: 1px none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 80%;
  background: $synthBlack;
  > div {
    width: 100%;
    display: flex;
  }

  .synthConsole {
    border: 5px none;
    height: 55%;
    flex-direction: row;
    flex-wrap: no-wrap;

    -webkit-box-shadow: 2px 39px 73px -16px rgba(0,0,0,0.63);
    -moz-box-shadow: 2px 39px 73px -16px rgba(0,0,0,0.63);
    box-shadow: 2px 39px 73px -16px rgba(0,0,0,0.63);
    
    > div {
      height: 100%;
      border: 1px none;

    }




    .speakerArray {
      width: 20%;
      > div {
        height: 50%;
        .speakerFan {
          height: calc(100% / 12);
          &:first-child {
          
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+20,000000+99&0+0,1+19,0+74 */
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 19%, rgba(0,0,0,0.98) 20%, rgba(0,0,0,0) 74%, rgba(0,0,0,0) 99%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 19%,rgba(0,0,0,0.98) 20%,rgba(0,0,0,0) 74%,rgba(0,0,0,0) 99%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 19%,rgba(0,0,0,0.98) 20%,rgba(0,0,0,0) 74%,rgba(0,0,0,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
          
          }
          
          &:not(:first-child) {
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+99&1+2,0+74 */
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 1%, rgba(0,0,0,1) 2%, rgba(0,0,0,0) 74%, rgba(0,0,0,0) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 1%,rgba(0,0,0,1) 2%,rgba(0,0,0,0) 74%,rgba(0,0,0,0) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,1) 1%,rgba(0,0,0,1) 2%,rgba(0,0,0,0) 74%,rgba(0,0,0,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
          }        
        }        
      }      

    .topSpeakerPart {
      padding-bottom: 10px;
      padding-top: 4%;
    }
    .bottomSpeakerPart {
      padding-top: 10px;
    }
    .rightSpeaker {
      padding-right: 8%;
    }
    .leftSpeaker {
      padding-left: 8%;
    }
    }
    .consoleControls {
      width: 60%;
      display: flex;
      justify-content: center;
      > div {
        border: 1px solid black;
        display: flex;
      }
      .leftSide, .rightSide {
        width: 20%;
      }

      .leftSide {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;




        .volume_control {
          border: 1px none;
          border-radius: 10px;
          width: 80%; 
          height: 7%;
         

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,db5557+100&0+42,1+99 */
          background: -moz-linear-gradient(left, rgba(247,247,247,0) 0%, rgba(235,179,180,0) 42%, rgba(219,87,89,1) 99%, rgba(219,85,87,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(247,247,247,0) 0%,rgba(235,179,180,0) 42%,rgba(219,87,89,1) 99%,rgba(219,85,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(247,247,247,0) 0%,rgba(235,179,180,0) 42%,rgba(219,87,89,1) 99%,rgba(219,85,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#db5557',GradientType=1 ); /* IE6-9 */
         }

         .wave_selector {
          width: 100%;

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          height: 20%;
            > div {
              border: 1px none; 
              background: $synthMedGray;
              width: 45%;
              height: 30%;
              margin: 1% 1% 1.5%;
              border-radius: 5%;
              display: flex;
              text-align: center;
              align-items: center;
              color: white;
              font-size: 9px;
              padding-bottom: 2%;
              -webkit-box-shadow: inset 1px -5px 2px 0px rgba(0,0,0,0.8);
              -moz-box-shadow: inset 1px -5px 2px 0px rgba(0,0,0,0.8);
              box-shadow: inset 1px -5px 2px 0px rgba(0,0,0,0.8); 

              &::before {
                content: '';
                position: relative;
                border: 1px solid red;
                background: yellow; 
                border-radius: 100%;
                height: 5px;
                width: 5px;
                top: -10%;
                left: 10%;
                margin-right: 20%;
              }

              &:hover {
                cursor: pointer; 
                opacity: 0.45;
              }   
            }
            .selectWave {
              &::before {
                background: red;
              }
            }
         }


      }
      .midSide {
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > div {
          border: 5px solid white;
          width: 100%;
        }

        .consoleDisplay_container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
  .synthKeys {
    height: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5px;
    overflow: hidden; 
    > div {
      height: 50%;
      width: 79.5%;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      position: absolute;
            
      -webkit-box-shadow: inset 0px 200px 5px -146px rgba(0,0,0,0.33);
      -moz-box-shadow: inset 0px 200px 5px -146px rgba(0,0,0,0.33);
      box-shadow: inset 0px 200px 5px -146px rgba(0,0,0,0.33);
    }

    .whiteKeyRow {
      height: 31%;

      overflow:hidden;

    }
    .blackKeyRow {
      height: 40%;

    }

  }
}